<% content_for :title do %>IMLS Museums Dashboard<% end %>
<div class="gridster">

  <h1>IMLS Museums Dashboard</h1>
  <p style="text-align: center;">Links: <a style="text-decoration: underline" target="blank" href="https://data.imls.gov/d/5rw9-2vgh">original data set on data.imls.gov</a> | <a style="text-decoration: underline" target="blank" href="http://github.com/marks/museum-dash">code for this site</a></p>
  <br />
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hi!" data-text="This is a dashboard powered by data.imls.gov, dashing.rb, Socrata, and open data!" data-moreinfo="Built by @Skram during Open Data Day DC 2015. github.com/marks/museum-dash"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="total_museums" data-view="Number" data-title="Total # of Museums" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="count_by_type" data-view="List" data-unordered="false" data-title="Museums by Type" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_nonprofit" data-view="Number" data-title="Number Nonprofit" data-moreinfo="" data-prefix="" data-suffix=""></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="percent_nonprofit" data-view="Meter" data-title="Percent Nonprofit" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
      <div data-id="count_by_state" data-view="List" data-unordered="true" data-title="Top/Bottom States by Count" data-moreinfo=""></div>
    </li>

  </ul>
</div>